/*
hoja de estilos para reto 1
*/
/* 
    Author     : harold bocarejo
*/
body {
    .container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "landing_navbar header header header"
    "landing_navbar section section section"
    "landing_navbar section section section"
    "landing_navbar footer footer footer";
}

.landing_navbar {
  grid-area: landing_navbar;
  border: 0.5px black solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav_01"
    "."
    "nav_02";
}

.header {
  grid-area: header;
  border: 0.5px black solid;
}

.footer {
  grid-area: footer;
  border: 0.5px black solid;
}

.section {
  
  font-family: 'Roboto', sans-serif;
  grid-area: section;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "slogan imagen imagen"
    "slogan imagen imagen"
    "slogan imagen imagen";
}

.nav_01 {
  grid-area: nav_01;
}

.nav_02 {
  grid-area: nav_02;
  position: relative;
}

.btn_irRegistro {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
}

.slogan {
  grid-area: slogan;
}

.imagen {
  grid-area: imagen;
}

}
